#pal_img { float:left; margin: 10px 4px 2px;}

#color_preview {
//float: none;
margin: 5px 0 0px 2px;
cursor: pointer;
color: blue;
border-bottom: 4px double;
padding-bottom: 0px;
font-size: 14px;
line-height: 11px;


}

#color_value {float:left;}

#palette {
background-image:url(../pal_bg1.gif);
width:182px;
height:129px;
background-repeat:no-repeat;
display: none;
position:absolute;
z-index:2;

}

#palette h2 {
color: #a2c346;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
line-height: 24px;
text-indent: 8px;
margin: 0 0 5px 0 ;


}

div.swatch {
background-color: #0000ff;
border: 1px solid #000000;
width:8px;
height:10px;
margin: 0 2px 2px 0;
padding:0;
font-size: 2px;


}

#swatches {margin-left: 8px;}